body {
  margin: 0;
 
  color: #fff;
  background-color: #000 !important;


}
.header{
  font-size: 3rem;
  color: #fff;
}
.waveButton{
  background-color: blue;
  color: #fff;
  height: 2rem;
  font-size: 16px;
}

.bio{
  font-size: 18px;
  color: #fff !important;
}
 p{
   font-size: 16px;
   color:#fff
 }

 Button{
   color: #fff !important;
   font-size: 18px;
 }
/* 
https://eth-rinkeby.alchemyapi.io/v2/Mxy2Fz8yN87qvuBGccMBZfwJCKVViVNC */